include block_html/_style.jade
include ../module/**/*.jade


.baner
	.filter
	.header
		.main-cont
			.header-wraper
				a(href="http://itexpert.ru").header__logo
					img(src="img/logo.jpg", alt="")
				.header__contact
					.header__contact-phone +7 (495) 981-57-10
					.header__contact-email info@itexpert.ru
	.baner-info
		.baner-title  Тренинг	<br> ICAgile Certified Professional
		.baner-title-small  Для тех, кто хочет получить систематизированное понимание Agile, разобраться с преимуществами и недостатками гибкого подхода к проектам и продуктам, найти области наилучшего применения Agile
		.time Ближайщие даты:
		.time-el 12-13 октября
		.time-el 16-17 ноября
		.btn.btn-baner.get-modal Оставить заявку

//.section.section--grey#about
	.main-cont
		.about-title.title  Наш тренинг поможет, если Вы
		.about-title.title-sub   Мы находимся в самом удобном месте
		.about-type.type Учебные классы, предлагаемые в аренду, предназначены для проведения деловых и учебных мероприятий. Современные удобные учебные классы, укомплектованные комфортной мебелью и находящиеся недалеко от м. Красные Ворота/м. Комсомольская, помогут провести любое задуманное Вами мероприятие на высочайшем уровне.
		.btn-row
			a(rel="m_PageScroll2id" href="#advant").btn.btn--red Наши преимущества
			a(rel="m_PageScroll2id" href="#why").btn.btn--blue Почему нас выбирают?


//.section#advant
	.main-cont
		.advant-title.title  Аренда учебного класса в центре Москвы
		.advant-title.title-sub  Современный подход к обучению
		.advant-wrap
			.advant-el
				.advant-el-header
					.advant-el-icon
						+icon("light-bulb","icon")
					.advant-el-title Удобство
					.advant-el-text.type  Классический современный дизайн классов с хорошим освещением, удобной мебелью и оборудованием
			
			.advant-el
				.advant-el-header
					.advant-el-icon
						+icon("laptop","icon")
					.advant-el-title Расположение
					.advant-el-text.type  Мы находимся в центре Москвы (5 минут пешком от ст.м. Красные Ворота и 10 минут пешком от ст.м. Комсомольская)

			.advant-el
				.advant-el-header
					.advant-el-icon
						+icon("like","icon")
					.advant-el-title Обрудование
					.advant-el-text.type  Стены с маркерным покрытием, современный проектор и флипчарт, новая мебель
		.btn-row
			a(rel="m_PageScroll2id" href="#why").btn.btn--blue Почему нас выбирают?

.section#advant
	.main-cont
		.advant-title.title  Наш тренинг поможет, если Вы
		.advant-title.title-sub  Современный подход к обучению
		.advant-wrap
			.advant-el
				.advant-el-header
					.advant-el-icon
						+icon("team","icon")
					.advant-el-text.type  Менеджер проектов/продуктов/руководитель и хотите повысить эффективность своей работы, команды, всей организации

			.advant-el
				.advant-el-header
					.advant-el-icon
						+icon("conversation","icon")
					.advant-el-text.type  Ничего не знаете об Agile, но очень хотите узнать. Вы узнаете много нового.

			.advant-el
				.advant-el-header
					.advant-el-icon
						+icon("cert","icon")
					.advant-el-text.type  Уже обладаете опытом работы по Agile и желаете получить международный сертификат
		//.btn-row
			a(rel="m_PageScroll2id" href="#why").btn.btn--blue Почему нас выбирают?

//.section.section--grey#why
	.main-cont
		.why-wrap
			.why-info
				.why-title.title  Почему у нас нет конкурентов
				.why-type.type   Интерактивные функции позволяют взаимодействовать с проецируемым с компьютера изображением, используя электронную ручку-указку, а также рисовать, делать записи и работать с различными инструментами в режиме "белой доски".
				.why-type.type   Старой маркерной доски часто не хватает, с маркерной стеной можно рассказать гораздо больше, это весело и современно - ученикам нравится!
				.why-type.type  Качественное обучение это способ передать самые ценные знания для своих слушателей.

				.btn-row
					a(rel="m_PageScroll2id" href="#room").why-btn.btn.btn--blue Наши классы
			.why-row
				.why-row-wrap
					.why-row-el
						.why-row-icon
							.why-row-icon-el
								+icon("book","icon")
						.why-row-info
							.why-row-title Комфортное окружение
							.why-row-text.type  Наши классы оборудованы новой удобной итальянской мебелью, а стены классов имеют специальное покрытие, на котором можно рисовать и писать.

					.why-row-el
						.why-row-icon
							.why-row-icon-el
								+icon("rocket","icon")
						.why-row-info
							.why-row-title  Современное оборудование
							.why-row-text.type  Классы оборудованы короткофокусными интерактивные проекторами, которые установлены на близком расстоянии от экрана.

					//- .why-row-el
					//- 	.why-row-icon
					//- 		.why-row-icon-el
					//- 			+icon("calculator","icon")
					//- 	.why-row-info
					//- 		.why-row-title  Lorem ipsum dolor sit.
					//- 		.why-row-text.type  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit qui, mollitia dolorum, quae doloribus

					.why-row-el
						.why-row-icon
							.why-row-icon-el
								+icon("share","icon")
						.why-row-info
							.why-row-title  Удобное расположение
							.why-row-text.type Мы расположены в центре Москвы в 5 минутах ходьбы от метро Красные ворота, рядом расположены Казанский, Ярославский и Ленинградский вокзалы.


.section.section--grey
	.main-cont
		.plan
			.plan__el
				.plan__img(style="background-image:url('https://static.tildacdn.com/tild3062-3463-4433-b133-643962616531/timgouw69753.jpg')")
				.plan__info
					.plan__title В ходе тренинга вы
					.plan__text
						ul
							li Научитесь писать и оценивать пользовательские истории
							li Выясните, что общего у Agile-команды и группы спецназа
							li Чем отличается Scrum от Kanban
							li Узнаете, кто такой Владелец Продукта и чем он на самом деле владеет?
							li Попробуете себя в роли члена Scrum-команды

		.plan__el
			.plan__info
				.plan__title Тренинг позволит
				.plan__text
					ul
						li Сформировать грамотное понимание Agile и его возможностей
						li Заложить основы гибкого мышления
						li Безошибочно применять фреймворки Agile в Вашем бизнесе
						li Открыть новые карьерные возможности за счёт подтверждения знаний международным сертификатом Certified Agile Professional
			.plan__img(style="background-image:url('https://static.tildacdn.com/tild3935-6139-4566-b466-323333336464/williamiven19843.jpg')")

.section#program
	.main-cont
		.advant-title.title  Программа тренинга

		.day-title День первый

		.day
			.day__el
				.day__numb 1
				.day__title Agile в управлении проектами
				.day__cont
					ul
						li Подходы к решению организационных задач
						li Системный выбор подхода к управлению
						li Эволюционный и революционный подходы к трансформации
			.day__el
				.day__numb 2
				.day__title История Agile
				.day__cont
					ul
						li Waterfall - классическое проектное управление
						li Lean и TQM - принципы постоянного улучшения
						li Agile - зарождение и развитие
			.day__el
				.day__numb 3
				.day__title AgileMindset – переход к гибкой организации
				.day__cont
					ul
						li 4 ценности и 12 принципов Agile
						li Agile-мышление: основные отличия и элементы
						li 3 подхода к Agile-трансформации организации
						li Культурный элемент трансформации
						li Выгоды и цена частых поставок
			.day__el
				.day__numb 4
				.day__title Agile-команда – люди, которые делают проекты
				.day__cont
					ul
						li Мотивация Agile-команды: 2 группы факторов
						li Кросс-функциональность – Т-компетенции
						li Практикум: Кросс-функциональные команды
						li Коммуникации – ключевой фактор успеха

		.day-title День второй

		.day
			.day__el
				.day__numb 1
				.day__title Scrum: самый популярный гибкий фреймворк
				.day__cont
					ul
						li Введение: Роли, процессы, артефакты
						li Практикум: Пользовательские истории
						li Долгосрочное и краткосрочное планирование в Scrum
						li Практикум: Impact Mapping, User Story Mapping
						li Практикум: Игра-симуляция Scrum Card Game

			.day__el
				.day__numb 2
				.day__title Kanban – альтернативный путь к гибкости
				.day__cont
					ul
						li Основные ценности Kanban
						li 6 практик Kanban
						li WIP-ограничения: избавляемся от перегрузки
						li Метрики в Kanban – развиваемся на основе данных
			.day__el
				.day__numb 3
				.day__title Подведение итогов
				.day__cont
					ul
						li Итоги
						li Обратная связь
						li Вручение сертификатов

.section.section--grey
	.main-cont
		.advant-title.title  Получение сертификата
		.cert-text Участники курса, выполнившие все практические задания курса, дополнительно получат сертификат ICAgile Certified Professional от международного консорциума ICAgile"
		.cert-img
			img(src="img/cert-partners.png", alt="")


.section.section--trener
	.main-cont
		.plan
			.plan__el
				.plan__img(style="background-image:url('img/trener.jpg')")
				.plan__info
					.plan__title Тренер: Артемий Анцупов
					.plan__text
						ul
							li Agile-эксперт, авторизованный инструктор ICAgile
							li Сертифицированный специалист и аккредитованный тренер в области Agile и проектного управления
							li Асессор конкурса «Проектный олимп» в специальной номинации «Гос-Agile»
							li Эксперт подгруппы по применению гибких подходов в государственных проектах федерального проектного офиса

.section.section--grey#get
	.main-cont
		.get-icon
			+icon("interface","icon")
		.get-title.title  оставьте свою заявку уже сегодня
		.get-title-sub.title-sub   мы свяжемся с вами через 10 мин

		.btn-row
			.btn--blue.get-modal Оставить заявку
		.get-phone +7 (495) 981-57-10
		.get-email info@itexpert.ru

.modal
	.modal-wrap
		.modal-close
			+icon("cancel","icon")
		.modal-icon
			+icon("mail","icon")
		.modal-title Заполните форму
		form(action="javascript:void(null);")#myform
			input(type="text" name="name" placeholder="Ваше имя" id="name-form")
			input(type="text" name="mail" placeholder="Ваша почта" id="mail-form")
			input(type="text" name="phone" placeholder="Ваш телефон" id="phone-form")
			input(type="submit" ).btn--blue
include ./block_html/_script.jade
